.prancing{
	background-image: url("images/papiro.jpg");
	background-size: 100% 100%;
	
	width:1600px;
	height:1600px;
	margin-top: -1em;
}
.titulo-carta{
	font-family: Papyrus, fantasy;
	text-align:center;
	font-size:5em;
	margin-left:3.5em;
	margin-top: 1em;
}
.aclaracion{
	font-family: Papyrus, fantasy;
	margin-top:6em;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	width:70%;
}
.menues{
	margin-top: 4.6em;
	margin-left:auto;
	margin-right:auto;
	width:73%;
}
.menu{
	text-align:left;
	width:50%;
	font-family: Papyrus, fantasy;
	border-radius: 5px;
	font-weight: bold;
	height:auto;
	/*background-image: url("images/menu-full.jpg");*/
	
	/*background-size: 100% 100%;*/
	
	padding-left:3.5em;
	padding-bottom:1.5em;
}
.menu > h3{
	font-weight: bold;
	margin-bottom:3px;
}
.elem{
	width:100%;
	margin-bottom:0px;
}
.elem > .nombre{
	float:left;
	width:80%;
	font-size:20px;
}
.elem > .descripcion{
	font-weight: none;
	font-family: Papyrus, fantasy;
	font-size:14px;
}
.fotoder{
	width:20%;
	
	float:right; 
	text-align: right;
}
.foto{
	width: 35px;
	margin-top:-0.5em;
	height: 40px;
	margin-bottom:5px;
	
}
.foto:hover{
	cursor: pointer;
}
.limpiar{
	clear:both;
}
.tooltip-inner {
	text-align:left;
    max-width: 450px;
    /* If max-width does not work, try using width instead */
    width: 450px; 
}
.pie{
	
	font-family: Papyrus, fantasy;
	text-align:center;
	font-size:2em;
	margin-left:7em;
	width:73%;
	margin-top: 2.7em;
}
.direccion{
	float:left;
}
.telefono{
	float:right;
}
.pie-cubierto{
	
	font-family: Papyrus, fantasy;
	text-align:center;
	font-size:1.8em;
	margin-left:7em;
	width:73%;
	margin-top: -0.4em;
}