* {
  box-sizing: border-box;
  margin: 0, auto;
  padding: 0;
}

body {
  background-image: url("../img/fondo.png");
  background-repeat: repeat;
}

/* Navbar */
.logo {
  width: 103px;
}

/* Galeria */
.gl-img {
  height: 526px;
}

/* Titulo */
.welcome {
  color: white;
  text-align: center;
}

/* Categorias */
.ct-img {
  width: 90%;
}

.ct-section {
  display: flex;
}

/* Platos  */
.pl-title,
.ct-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: white;
}
hr {
  border: solid 2px white;
}

.pl-table {
  color: white;
}

.pl-table,
.vg-table {
  width: 100%;
}

td,
th {
  padding: 15px;
}

.costo {
  font-weight: bold;
}

.pl-img {
  width: 227px;
}

/* Tragos */

.general {
  height: 1450px;
  width: 900px;
  margin: auto;
}

.cafes {
  height: 50px;
  padding: 30px;
  font-style: oblique;
  text-align: center justify;
  margin-left: 20px;
  margin-bottom: 300px;
  font-size: 20px;
  border: dotted white;
}

.gaseosas {
  height: 30px;
  font-style: oblique;
  margin-left: 100px;
  font-size: 13px;
  border: dotted white;
}

.vinos {
  height: 30px;
  font-style: oblique;
  margin-left: 400px;
  font-size: 13px;
  border: dotted white;
}

.cervezas {
  height: 30px;
  font-style: oblique;
  margin-left: 100px;
  font-size: 15px;
  border: dotted white;
}

.tragos {
  height: 80px;
  font-style: oblique;
  margin-left: 50px;
  font-size: 16px;
  border: dotted white;
}

.licuados {
  height: 80px;
  font-style: oblique;
  margin-bottom: 170px;
  margin-left: 230px;
  font-size: 18px;
  border: dotted white;
}

.aclaracion {
  color: grey;
  font-size: 10px;
}

.precios {
  color: grey;
}

.tb-body {
  background-color: black;
  color: white;
}

/* Veggie Section */

.veggie {
  background-image: url("http://static.colourlovers.com/images/patterns/1660/1660767.png?1311327275");
}

.banner {
  /* width: 100%; */
  background-color: #2ca62cad;
}

.vg-welcome,
.vg-table {
  color: white;
}

.vg-welcome {
  text-align: center;
  padding: 15px;
}

.vg-title {
  font-size: 45px;
}

.vg-subtitle {
  font-size: 25px;
}
